.sobremi-container{
    
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    align-content: center;
}

.sobre_mi_titulo{
    color: rgb(200, 245, 200);
    margin-bottom: 2rem;
}
.sobre_mi_titulo_2 {
    color: rgb(200, 245, 200);
    font-size: 2.3rem;
    font-weight: 600;
    text-align: center;
    
}

.sobre_mi_texto{
    margin-top: 3.5rem;
        font-family: Vegur, 'PT Sans', Verdana, sans-serif;
        font-size: 1.7rem;
        font-weight: 500;
        color: rgb(226, 241, 226);
        line-height: 1.5;

}
.fin{
    margin-bottom: 100px;
}

.flecha-2{
    color:#88ff64;
}
.texto_resaltado_2{
    color: #88ff64;

}


.sobre_mi_titulo_2 .sobre_mi_titulo, .flecha-2, .sobre, .texto_resaltado_2{
    font-size: 3rem;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-weight: 600;
}


.php, .sql {
    padding-top: 15px;
}
.bootstrap{
    padding-top: 5px;
}

.icon {
    margin-top: 3rem;
        
    width: 60px;
    height: 60px;
    margin-right: 25px;
    cursor: pointer;
    transition: transform 0.3s;
    /* Agregar transición para suavizar el cambio de tamaño */
}


.icon-container {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tecnologias {

    padding-top: 70px;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 43vh;
}
@media (max-width: 768px) {
    .tecnologias{
        height: 47vh;
        margin-bottom: 55px;
    }

}


.tecnologias-presentacion {
    color: #88ff64;
}

.icon-name {
    text-align: left;
    transform: translateX(-11px);
    margin-top: 5px;
    font-size: 1.3rem;
    display: none;
    color: #88ff64;
}

.icon-container:hover .icon-name {
    display: block;
}

/* Cambio de tamaño al hacer hover */
.icon-container:hover .icon {
    transform: scale(0.8);
    /* Define el tamaño deseado al hacer hover */
}

/* Mantener los otros iconos en su lugar */
.icon-container:hover .icon+.icon {
    transform: none;
    /* Evita que los otros iconos se achiquen */
}