.contact-container{
    margin-top: 100px;
    width: 75%;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.contacto {
    color: rgb(200, 245, 200);
    font-size: 2.3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 4rem;

}

.contacto-texto{
        text-align: center;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        font-family: Vegur,
        'PT Sans',
        Verdana,
        sans-serif;
        font-size: 1.7rem;
        font-weight: 500;
        color: rgb(226, 241, 226);
        line-height: 1.5;
}        

.sub-contacto-texto{
        color: rgb(200, 245, 200);
        font-size: 2.3rem;
        font-weight: 600;
        text-align: center;
}        

.gmail{
    height: 2.5rem;
    width: 2.7rem;
}

.email{
    color: #88ff64;
    font-size: 1.5rem;
}


.card {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    height: 70px;
    width: 270px;
}

.card svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}

.card .social-link1,
.card .social-link2,
.card .social-link3,
.card .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
}
.cv{
    width: 5rem;
    height: 5rem;
}

.card svg {
    transform: scale(1);
}

.card .social-link1:hover {
    background-color: #1a1e22;
    animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
    background-color: #88ff64;;
    animation: bounce_613 0.4s linear;
}

.card .social-link4:hover {
    background-color: #1d4292;
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}