*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.3rem;
}

.flecha {
    color: #88ff64;
    font-size: 1.7rem;
    font-weight: 700;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(200, 245, 200);
}

.nav-item {
    color: rgb(200, 245, 200);
    cursor: pointer;
}

.nav-item:hover a {
    color: white;

}

.activo {
    padding-bottom: 3px;
    border-bottom: 3px solid #88ff64;
}

.nav {

    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1.5em;
    background-color: rgb(32, 32, 32);
    padding-top: 1.5em;
}

.brand {
    color: rgb(200, 245, 200);
    text-transform: uppercase;
    font-weight: bold;
}

.brand-2 {
    color: #88ff64;
    ;
}

.nav-menu {

    display: flex;
    align-items: column;
    justify-content: center;
    gap: 4rem;
    z-index: 3;
}

.toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: rgb(200, 245, 200);
    transition: 0.4s ease-in;
}

.toggler {
    cursor: pointer;
    display: none;
}

@media screen and (max-width:768px) {
    .toggler {
        display: block;
    }

    .nav-menu {
        padding-top: 8vh;
        position: fixed;
        top: 5vh;
        right: 0;
        width: 50%;
        height: 100vh;
        background: rgb(32, 32, 32);
        flex-direction: column;
        justify-content: flex-start;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

    .nav-active {
        position: fixed;
        top: 0;
        margin-top: 3em;
        /* Fija en la parte superior */
    }

    .activo {
        border-bottom: 0;
    }
}

/*activar clase*/
.nav-active {
    transform: translateX(0);
}

/*animaicon*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}