
/* imagen fija, para que al hacer scroll se mueva, y hace zoom con hover */
.welcome-container {
    padding-top: 10rem;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 100vh;
}

.foto-container {
    position: relative;
    width: 100%;
    height: 100%;
    
}

.foto::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(46, 46, 46, 0.555);
    /* Filtro gris transparente */
    z-index: 2;
    filter: blur(10px);
    
}

.foto {
    width: 100%;
    height: 100%;
    display: grid;
    background-image: url(../images/R.jpg);
    background-size: 100% 110%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-attachment:fixed;
    background-color: #ffffff00;
    background-position: center center;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
    transition: background-size 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .foto {
        background-size: cover;
        background-attachment: scroll;
        transform: scale(1);
        transition: transform 0.4s ease-in-out;
        /* Cambia la transición para pantallas más pequeñas */
    }

    .foto:hover {
        transform: scale(1);
        /* Desactiva el efecto hover en pantallas más pequeñas */
    }
}

@media (min-width: 769px) {
    .foto:hover {
        background-size: 110% 125%;
        /* Activa el efecto hover en pantallas más grandes */
    }
}

/* Resto del código sigue igual */

.texto-container {
    margin: 0 auto;
    justify-content: center;
    height: 250px;
    width: 70%;
    z-index: 2;
}

.nombre{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(40px, 8vw, 80px);
    margin-top: 4rem;

    font-weight: 600;
    color: rgb(200, 245, 200);
    line-height: 1.1; 
    
}

.frase{
    margin-top: 3.5rem;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(200, 245, 200);
    line-height: 1.1;

}

.texto_resaltado{
    font-size: 2rem;
    color: #88ff64;
 
}

.cargo{
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-size: clamp(35px, 8vw, 80px);
    font-weight: 600;
    color: rgb(121, 194, 121);
    line-height: 1.1;

}

.texto {
    margin-top: 5rem;
    color: #88ff64;
    font-family: "Consolas", "Courier New", "Lucida Console", Monaco, monospace;
    /* color: #008000; */
    white-space: nowrap;
    font-size: 2.5rem;
    text-align: center;
    width: 15ch;
    border-right: 4px solid;
    animation: typing 2s steps(15), blink .5s infinite step-end alternate;
    overflow: hidden;
    z-index: 2;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.button {
    margin-top: 3rem;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.button {
    border:1px solid #88ff64;
    border-radius: 5px;
    --border-right: 6px;
    --text-stroke-color: rgb(200, 245, 200);
    --animation-color: #88ff64;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    float: right;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
    padding-top:0.5rem; 
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}